.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
    max-width: 1024px;
    width: 100%;
    display: flex;
    color: white;
   align-items: center;
   justify-content: space-between;
}
.logo{
    font-size: 25px;
    font-weight: 700;

}
.link{
    text-decoration: none;
    color:white;

}
.navButton{
    padding: 5px 10px;
    color:#003580;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
}
.navButton:hover{
    background-color: rgb(221, 245, 245);
}